 <!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="/imgs/Coding-vs-programming.jpg" alt="Code" style="filter: brightness(60%);" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-left">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-normal"><b>Hey, I'm Khaleel.</b></span> 
    <br>
    <span class="w3-hide-small w3-text-light-grey" style="font-weight: 500;">
      Web developer from Markham, Ontario. I create custom websites
      and refactor existing ones.
    </span>
    </h1>
  </div>
</header>
 
  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Projects</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding"><a href="https://github.com/khaleelpaul-green/new-note-taker">Note Taker</a></div>
        <a href="https://kpg-note-taker.herokuapp.com/">
          <img src="/imgs/note-taker-ss-1.jpg" alt="Note Taker" style="width:100%">
        </a>
      </div>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding"><a href="https://github.com/khaleelpaul-green/team-generator">Team Generator</a></div>
        <a href="https://www.youtube.com/watch?v=uBVId_s-kL0">
          <img src="/imgs/team-generator-ss.jpg" alt="Team Generator" style="width:100%">
        </a>
      </div>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding"><a href="https://github.com/khaleelpaul-green/tech-blog">Tech Blog</a></div>
        <a href="https://thawing-anchorage-96948.herokuapp.com/">
          <img src="/imgs/tech-blog-ss.jpg" alt="The Tech Blog" style="width:100%">
        </a>
      </div>
    </div>
  </div>

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p> I am a web developer from Markham, Ontario. I am capable of creating dynamic custom front-end websites from scratch using Handlebars, CSS, Node, Javascript. I can also
      perform back-end tasks such as accessing servers using APIs, constructing my own APIs, creating servers that utilizes the APIs that I have made, and manipulating the data 
      gathered into whatever I need. To get a better idea of what I can do, check out my 
      <b><a href="https://docs.google.com/document/d/1PReCf5V26-ZzfZlRCkBTUr2UminkzM99zM7udKU2Ahc/edit?usp=sharing">resume</a></b> that highlights some of my best work.
    </p>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Looking for more? Visit the links below to view a full list of my projects, as well as ways to reach me for further discussion.</p>

    <div class="w3-row-padding">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="/imgs/GitHub-550x330.jpg" alt="Github" style="width:100%">
        <h3>GitHub</h3>
        <p class="w3-opacity">Project Repository</p>
        <p>Discover a full history of all of my projects up to date, including the code.</p>
        <a href="https://github.com/khaleelpaul-green">
          <p><button class="w3-button w3-light-grey w3-block">Go!</button></p>
        </a>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="/imgs/Linkedin-logo.jpg" alt="LinkedIn" style="width:100%; height: 235px;">
        <h3>LinkedIn</h3>
        <p class="w3-opacity">Professional Profile</p>
        <p>Explore my professional profile.</p>
        <a href="https://www.linkedin.com/in/khaleelpaul-green">
          <p><button class="w3-button w3-light-grey w3-block">Go!</button></p>
        </a>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="/imgs/gmail-logo.jpg" alt="Gmail" style="width:100%; height: 213px;">
        <h3>Email</h3>
        <p class="w3-opacity">Message Me Directly</p>
        <p>Send me a direct message to begin the discussion right away.</p>
        <a href="mailto:khaleelpaulgreen.code@gmail.com" target="_top">
          <p><button class="w3-button w3-light-grey w3-block">Go!</button></p>
        </a>
      </div>
    </div>
  </div>